# Function to source env files from current and parent directories
source_env_files() {
  local dir=$PWD
  while [ "$dir" != "/" ]; do
    if [ -f "$dir/.envrc.private" ]; then
      source_env "$dir/.envrc.private"
      watch_file "$dir/.envrc.private"
    fi
    dir=$(dirname "$dir")
  done
}

# Call the function to source env files
source_env_files
