# pull in any private envvars
if [ -f .envrc.private ]; then
  source_env .envrc.private
  watch_file .envrc.private
else
  log_error "Missing '.envrc.private' file. See '.envrc.private.sample'"
  exit
fi
